<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    {{template "head.gohtml" .}}
  </head>
  {{template "navbar.gohtml" .}}
  <body hx-boost="true">
    <h1>Welcome, {{ . }}</h1>
    <p>Role: {{ .Role }}</p>
    <a href="/logout">Logout</a>
  </body>
</html>
