{{ define "layouts/admin" }}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "partials/head" . }}
</head>
<body hx-boost="true" class="bg-slate-100">
    {{ template "partials/navbar" . }}
</body>
</html>
{{ end }}